@mixin font-heading-1 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;

  @media (min-width: $breakpoint-md) {
    font-size: 60px;
    line-height: 1.1;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 72px;
    line-height: 1.1;
  }

  @media (max-width: $breakpoint-md) and (max-height: 820px) {
    font-size: 32px;
  }
  @media (max-width: $breakpoint-md) and (max-height: 720px) {
    font-size: 28px;
  }
}

@mixin font-heading-2 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;

  @media (min-width: $breakpoint-xl) {
    font-size: 64px;
    line-height: 1.1;
  }
}

@mixin font-heading-3 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: bold;

  @media (min-width: $breakpoint-xl) {
    font-size: 36px;
    line-height: 1.1;
  }
}

@mixin font-heading-4 {
  font-size: 18px;
  line-height: 1.3;

  @media (min-width: $breakpoint-xl) {
    font-size: 24px;
    line-height: 1.1;
  }
}

@mixin font-caption-1 {
  font-family: $font-family-serif;
  font-size: 24px;
  line-height: 1.33;
}

@mixin font-caption-2 {
  font-family: $font-family-serif;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

@mixin font-caption-3 {
  font-family: $font-family-serif;
  font-size: 18px;
  line-height: 1.33;
}
