$font-family-sans: "Noto Sans", Helvetica, Arial, sans-serif;
$font-family-serif: "DM Serif Display", Times, "Times New Roman", Georgia, serif;

$color-brand-primary: #e30517;
$color-brand-dark: #810f02;
$color-brand-gold: #997743;
$color-black: #0a0a0a;
$color-black-2: #0D0A0B;
$color-white: #ffffff;
$color-grey-1: #d7d7d7;
$color-grey-2: #f5f5f5;
$color-grey-3: #f9f9f9;
$color-grey-4: #667085;
$color-grey-5: #EAECF0;
$color-grey-6: #4F4F4F;
$color-red: #E30517;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1360px;
